# Análise dos cruzeiros pelo mundo

Apenas para treinar um pouco de Pandas

In [2]:
import pandas as pd

Importar os arquivos do data.world relativos aos cruzeiros. Excelente perfil pegou o material: https://data.world/brandon-telle/cruise-ship-locations

In [3]:
cities = pd.read_csv('https://query.data.world/s/54jlpsxer4xmbxpwfte5ddha2')

In [4]:
location = pd.read_csv('https://query.data.world/s/2e5uh0bxh7b2jcw6gs5hf4xqx')

In [5]:
ships = pd.read_csv('https://query.data.world/s/2j7s4x3hx6s41mi8oc7mbvlc')

Os cruzeiros só param em três cidades brasileiras.

In [6]:
cities[cities.country=="Brazil"].head()

,id,city,country,country_code,lat,lon
75,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,Brazil,BR,-3.119028,-60.021731
76,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,Brazil,BR,-22.906847,-43.172897
77,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),Brazil,BR,-23.956130,-46.326409

Há 3566 paradas nessas cidades.

In [7]:
location[location.port_city_country=="BR"]

,ship_name,callsign,major_cruise_line,date,meters_traveled,lat_start,lon_start,lat_end,lon_end,in_port,stopped_minutes,num_periods,port_city_id,port_city_name,port_city_country
230,Club Med II,FNIR,Other,2014-03-11,11839.291027,-14.8263,-38.9718,-14.7287,-39.0155,True,475,9,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
992,MSC Armonia,H8EW,Other,2009-12-17,56978.761460,-23.5084,-44.6445,-23.6509,-45.1809,False,0,4,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
1034,MSC Lirica,HOPW,Other,2010-02-21,99796.341197,-23.5038,-44.1799,-23.6536,-45.1443,True,801,10,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1035,MSC Lirica,HOPW,Other,2009-10-27,37179.881220,-23.8422,-44.9157,-23.9997,-45.2379,False,0,3,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1036,MSC Lirica,HOPW,Other,2011-03-06,15809.604989,-23.5984,-44.8778,-23.6320,-45.0284,False,0,2,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1279,Costa Victoria,IBLC,Costa Crociere,2011-03-04,6189.971461,-23.1893,-43.9488,-23.1567,-43.9978,False,17,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
1384,Costa Fortuna,IBNY,Costa Crociere,2010-12-11,0.000000,-23.8210,-44.8191,-23.8210,-44.8191,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1567,Costa Pacifica,ICJA,Costa Crociere,2017-01-26,0.000000,-23.8778,-45.4607,-23.8778,-45.4607,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1568,Costa Pacifica,ICJA,Costa Crociere,2016-02-29,132068.316221,-24.7688,-46.4528,-23.9141,-45.5497,False,0,5,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1569,Costa Pacifica,ICJA,Costa Crociere,2015-12-18,0.000000,-27.0183,-48.4754,-27.0183,-48.4754,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1592,Costa Favolosa,ICPK,Costa Crociere,2015-01-17,85319.774333,-28.8217,-48.3295,-28.1032,-48.0260,False,0,3,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1593,Costa Favolosa,ICPK,Costa Crociere,2012-12-23,32650.083983,-24.3698,-46.1810,-24.0765,-46.1817,True,839,5,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1594,Costa Favolosa,ICPK,Costa Crociere,2014-02-20,0.000000,-27.9637,-47.9125,-27.9637,-47.9125,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
1724,Amsterdam,PBAD,Holland America Line,2009-01-05,0.000000,-22.9000,-43.1000,-22.9000,-43.1000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
1835,Prinsendam,PBGH,Holland America Line,2011-02-02,101903.149399,-23.3238,-43.4834,-23.5932,-44.4371,False,0,6,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
1986,Plancius,PBQK,Other,2012-10-05,205262.233773,-0.4000,-28.3000,1.4000,-28.7000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
2281,Rotterdam,PDGS,Holland America Line,2006-11-17,319410.700028,-9.4000,-34.9000,-11.8000,-36.5000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
2282,Rotterdam,PDGS,Holland America Line,2005-11-16,235730.257837,-5.2000,-33.7000,-7.2000,-34.4000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
2444,Maasdam,PFRO,Holland America Line,2013-02-16,491983.942842,-13.1000,-38.3000,-9.8000,-35.3000,False,0,6,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
2589,Veendam,PHEO,Holland America Line,2010-04-14,0.000000,1.7000,-48.9000,1.7000,-48.9000,False,0,1,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,BR
2634,Veendam,PHEO,Holland America Line,2011-03-22,62264.719709,-12.4000,-37.6000,-12.0000,-37.2000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
2938,Kapitan Dranitsyn,UCJP,Other,2014-01-21,294948.884524,-41.3000,-21.0000,-43.5000,-23.0000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
3296,Mercury,3FFC7,Other,2013-09-28,26276.919503,-23.9250,-46.3407,-24.1532,-46.4068,True,185,6,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
3393,MSC Magnifica,3FLO4,Other,2013-12-23,28823.425435,-27.6196,-48.0691,-27.8573,-48.1851,False,0,2,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
4091,Azamara Journey,9HOB8,Other,2012-03-01,179471.106661,-8.7000,-34.8000,-7.1000,-34.6000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
4289,Sovereign,9HUE9,Royal Caribbean International,2016-12-30,32389.399561,-23.1842,-43.2012,-22.8936,-43.1855,False,34,4,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
4290,Sovereign,9HUE9,Royal Caribbean International,2016-02-27,0.000000,-24.0137,-45.3896,-24.0137,-45.3896,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
4291,Sovereign,9HUE9,Royal Caribbean International,2009-12-17,110156.106958,-24.0199,-45.1732,-23.7042,-44.1477,False,0,5,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
4292,Sovereign,9HUE9,Royal Caribbean International,2010-01-09,61563.204562,-23.8768,-44.6499,-24.0343,-45.2300,False,0,3,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
4293,Sovereign,9HUE9,Royal Caribbean International,2010-01-03,77804.761460,-23.9568,-45.0587,-23.6298,-44.3836,False,0,4,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499286,Norwegian Sun,C6RN3,Norwegian Cruise Line,2016-12-30,225096.745213,-23.2000,-41.9000,-23.2000,-44.1000,True,266,10,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499543,Vision of The Seas,C6SE8,Royal Caribbean International,2012-01-18,0.000000,-20.2000,-39.5000,-20.2000,-39.5000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499544,Vision of The Seas,C6SE8,Royal Caribbean International,2009-12-10,112590.929609,-23.5447,-44.3668,-23.8430,-45.4222,False,0,5,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499545,Vision of The Seas,C6SE8,Royal Caribbean International,2012-04-20,0.000000,-11.7000,-36.9000,-11.7000,-36.9000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499551,Vision of The Seas,C6SE8,Royal Caribbean International,2012-03-15,0.000000,-26.6000,-48.1000,-26.6000,-48.1000,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499552,Vision of The Seas,C6SE8,Royal Caribbean International,2009-12-12,62955.489599,-23.9206,-44.8496,-23.7498,-44.2602,False,0,3,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499553,Vision of The Seas,C6SE8,Royal Caribbean International,2009-12-22,278565.276328,-24.0177,-45.5735,-23.3625,-42.9361,False,0,10,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499904,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2011-12-07,718698.784334,-15.4000,-38.5000,-21.6000,-40.4000,False,0,11,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499905,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2015-03-03,10239.405870,-23.1000,-42.2000,-23.1000,-42.1000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499906,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2014-01-01,432179.016906,-22.1000,-40.7000,-18.7000,-38.7000,False,0,3,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499907,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2015-04-08,46697.534327,-22.9000,-41.1000,-22.7000,-41.5000,False,0,4,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499908,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2014-01-02,523311.001065,-18.3000,-38.6000,-13.6000,-38.5000,False,0,3,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499909,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2012-04-01,299593.195953,-23.0000,-41.6000,-23.8000,-44.4000,False,0,3,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
499911,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2010-03-04,0.000000,-23.6000,-44.8000,-23.6000,-44.8000,False,0,1,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499912,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2013-01-12,9329.989951,-24.2934,-46.4646,-24.2150,-46.4321,True,717,9,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499913,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2014-03-23,167099.886012,-26.2000,-47.3000,-24.8000,-46.7000,False,0,4,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499914,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2009-03-20,92164.848158,-24.1000,-45.0000,-24.0000,-45.9000,True,600,17,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
499915,Splendour Of The Seas,C6TZ9,Royal Caribbean International,2009-02-20,97394.529637,-24.2000,-45.4000,-23.9000,-46.3000,True,420,8,ChIJb4XHfLkDzpQRRrxLsAfl8z8,Santos (Sao Paulo),BR
500210,Seven Seas Mariner,C6VV8,Other,2012-12-15,0.000000,-23.1000,-42.8000,-23.1000,-42.8000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
500211,Seven Seas Mariner,C6VV8,Other,2014-03-10,0.000000,-22.9000,-43.2000,-22.9000,-43.2000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
500296,N G Explorer,C6WR2,Other,2014-10-10,89562.602447,-7.1000,-33.6000,-7.8000,-34.0000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
500559,Seabourn Quest,C6YZ5,Other,2014-02-26,56738.993676,-8.6000,-34.7000,-8.1000,-34.8000,False,0,2,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
500560,Seabourn Quest,C6YZ5,Other,2014-02-28,706345.107438,-3.9000,-36.9000,-1.1000,-42.6000,False,0,5,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
500661,St Helena,MMHE5,Other,2011-08-11,0.000000,-20.0000,-29.0000,-20.0000,-29.0000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
501314,Regatta,V7DM3,Other,2015-11-19,447494.026868,0.4000,-50.4000,4.4000,-50.8000,False,0,3,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,BR
501709,Golden Princess,ZCDA9,Princess Cruises,2007-01-15,379569.496563,3.9000,-49.7000,2.1000,-46.8000,False,0,2,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,BR
501749,Golden Princess,ZCDA9,Princess Cruises,2007-01-19,0.000000,-12.5000,-37.6000,-12.5000,-37.6000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
502358,Pacific Princess,ZCDS3,Princess Cruises,2009-03-08,314574.001825,4.4000,-50.9000,2.4000,-48.9000,False,0,4,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,BR
502772,Rms Queen Mary 2,ZCEF6,Other,2016-01-28,0.000000,-4.9000,-35.0000,-4.9000,-35.0000,False,0,1,ChIJW6AIkVXemwARTtIvZ2xC3FA,Rio de Janeiro,BR
502910,Saga Pearl II,9HA2950,Other,2013-01-22,0.000000,-0.6000,-46.5000,-0.6000,-46.5000,False,0,1,ChIJt0d2s8gbbJIRzKll959cSCs,Manaus,BR

Vamos ver o número de paradas no Brasil por ano. O pico foi em 2011, ano bem otimista ainda. Mas 2015 e 2016 não foram mal.

In [8]:
year = location.date.str[:4]

In [9]:
year[location.port_city_country=="BR"].value_counts()

2011    474
2015    442
2016    416
2010    408
2014    380
2017    311
2013    299
2009    293
2012    291
2008     94
2007     55
2006     47
2005     33
2003     18
2004      5
Name: date, dtype: int64

Quantas paradas em cada cidade brasileira

In [10]:
location[location.port_city_country=="BR"].port_city_name.value_counts()

Rio de Janeiro        1578
Santos (Sao Paulo)    1523
Manaus                 465
Name: port_city_name, dtype: int64

Ranking das cidades no mundo; Rio é a nonagésima cidade com mais paradas. Santos é a nonagésima-quinta

In [11]:
location.port_city_name.value_counts().head(100).reset_index()

                                index  port_city_name
0                    London (Tilbury)           16498
1                           Vancouver           11505
2                         Southampton           11140
3                 Newcastle (England)            9290
4   Fort Lauderdale (Port Everglades)            8130
5                             Belfast            6701
6                             Cozumel            6502
7                           Amsterdam            6126
8                           Hong Kong            6052
9                               Miami            5816
10                           Holyhead            5803
11                         Gothenburg            5501
12                 Port of Palm Beach            5383
13                         Grand Turk            5256
14                    Brugge (Bruges)            5209
15                          San Diego            5134
16                      Prince Rupert            5104
17          Playa del Carmen (Calica)            4996
18                           Kirkwall            4958
19                            CocoCay            4908
20                             Burnie            4351
21                           Le Havre            4150
22                     Cabo San Lucas            4142
23                               Oslo            3953
24                       Grand Cayman            3907
25                       King's Wharf            3871
26                             Lisbon            3716
27                            Seattle            3687
28                          Cherbourg            3662
29                         Icy Strait            3659
..                                ...             ...
70                        New Orleans            2055
71                              Aruba            2054
72               Rome (Civitavecchia)            2003
73                        Glacier Bay            1972
74                      Ponta Delgada            1926
75                            Ushuaia            1889
76                          Ketchikan            1859
77                           Progreso            1854
78                           Freeport            1849
79                            Dunedin            1824
80                           Monterey            1822
81                              Corfu            1809
82                            Exmouth            1792
83                              Sitka            1774
84                  Cartagena (Spain)            1743
85                   Malta (Valletta)            1676
86          Samana and Cayo Levantado            1650
87                          Gibraltar            1641
88                  Great Stirrup Cay            1614
89                          Stockholm            1578
90                     Rio de Janeiro            1578
91                            Gythion            1572
92                             Penang            1551
93                              Ibiza            1540
94                 Santos (Sao Paulo)            1523
95                            Tallinn            1493
96                     Sanary-Sur-Mer            1493
97                            Tangier            1468
98                        Montego Bay            1466
99                    Puerto Vallarta            1451

[100 rows x 2 columns]

Paradas no Brasil por empresa

In [12]:
location.major_cruise_line[location.port_city_country=="BR"].value_counts()

Other                            1264
Royal Caribbean International    1119
Costa Crociere                    533
Holland America Line              426
Princess Cruises                   89
Norwegian Cruise Line              83
Silversea Cruises                  29
Celebrity Cruises                  14
Carnival Cruise Line                9
Name: major_cruise_line, dtype: int64

Paradas no Brasil por navio; o mais frequente era bem famoso: https://pt.wikipedia.org/wiki/MS_Splendour_of_the_Seas

In [13]:
location.ship_name[location.port_city_country=="BR"].value_counts()

Splendour Of The Seas    506
Sovereign                273
Vision of The Seas       271
Seven Seas Mariner       206
MSC Lirica               149
Prinsendam               147
MSC Armonia              139
Costa Fascinosa          124
Seabourn Quest           104
MSC Magnifica             96
Costa Pacifica            93
Veendam                   85
Maasdam                   83
Costa Magica              71
Costa Fortuna             69
Rotterdam                 66
Costa Favolosa            65
Star Princess             54
Azamara Journey           50
Pacific Princess          47
Costa Serena              46
Regatta                   45
Plancius                  44
Kapitan Dranitsyn         42
Norwegian Sun             40
Rhapsody Of The Seas      35
Mariner Of The Seas       34
Amsterdam                 33
Costa Victoria            33
Crystal Serenity          28
                        ...
Mercury                   10
Barbarossa                 9
Golden Princess            9
Oriana                     9
Carnival Splendor          9
Endeavour                  8
Ryndam                     8
Discovery                  7
Fram                       7
The World                  7
Rms Queen Mary 2           6
Crystal Symphony           6
Larkspur                   5
Azamara Quest              5
Costa Luminosa             5
Norwegian Crown            5
Ruby Princess              5
Ocean Princess             4
Superstar Express          4
Saga Sapphire              4
St Helena                  3
Orion II                   3
Zaandam                    3
Silver Shadow              2
Christina O                1
Saga Pearl                 1
Seabourn Odyssey           1
Seabourn Sojourn           1
Aurora                     1
Westerdam                  1
Name: ship_name, dtype: int64

In [14]:
ships.head()

,name,callsign,wiki,imo,mmsi,cruise_line,major_cruise_line,year_built,class,gross_tonnage,decks,capacity,length,vessel_type,flag,home_port
0,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,8.0,386.0,187.00,NaN,NaN,NaN
1,Marco Polo,C6JZ7,https://en.wikipedia.org/wiki/MS_Marco_Polo,6417097.0,308693000.0,1965–1980?: Baltic Shipping Company[1]1979?–19...,Other,1964.0,Ivan Franko-class passenger ship → Ocean liner,22080.0,NaN,820.0,176.28,passengers ship,BAHAMAS,nassau
2,Seabourn Quest,C6YZ5,https://en.wikipedia.org/wiki/MV_Seabourn_Quest,9483126.0,311038900.0,Seabourn Cruise Line,Other,2011.0,Seabourn Odyssey class,32477.0,11.0,450.0,198.15,passengers ship,BAHAMAS,nassau
3,Oriana,ZCDU9,https://en.wikipedia.org/wiki/MV_Oriana_(1995),9050137.0,310529000.0,P&O Cruises,Other,1995.0,NaN,69840.0,10.0,NaN,260.00,passengers ship,BERMUDA,hamilton
4,European Causeway,C6RG7,https://en.wikipedia.org/wiki/MV_European_Caus...,9208394.0,311027000.0,P&O Ferries,Other,2000.0,NaN,20646.0,NaN,410.0,156.20,ro,BAHAMAS,nassau

Nenhum dos navios de cruzeiros tem bandeira brasileira. "Curioso": usam bandeiras de paraísos fiscais. 

O que faz sentido: http://www.nomoretax.eu/living-in-international-waters-endless-adventure-without-taxes/

In [15]:
ships.flag.value_counts()

BAHAMAS           74
MALTA             25
UNITED KINGDOM    20
PANAMA            18
ITALY             16
BERMUDA           16
NETHERLANDS       15
USA               11
FRANCE             8
CYPRUS             4
ST KITTS NEVIS     3
RUSSIA             3
MARSHALL IS        3
DENMARK            3
ECUADOR            2
CANADA             2
SWEDEN             1
INDIA              1
NORWAY             1
VANUATU            1
NEW ZEALAND        1
AUSTRALIA          1
Name: flag, dtype: int64

In [16]:
ships.home_port.value_counts()

nassau           73
valletta         23
hamilton         18
rotterdam        15
genova           13
london            3
majuro            3
dover             3
limassol          3
copenhagen        3
morlaix           2
le havre          2
juneau ak         2
caen              2
matautu           2
uppsala           1
petersburg ak     1
hong kong         1
metlakatla ak     1
valdez ak         1
belfast           1
tromso            1
ketchikan ak      1
naples            1
saint john        1
murmansk          1
fishguard         1
victoria          1
novorossiysk      1
haines ak         1
arkhangelsk       1
skagway ak        1
douglas           1
honolulu hi       1
portsmouth        1
hoonah ak         1
monrovia          1
kirkwall          1
devonport         1
Name: home_port, dtype: int64

Unir as tabelas ships e location.

In [17]:
merged = pd.merge(ships,location,on="callsign")

In [18]:
merged.head()

,name,callsign,wiki,imo,mmsi,cruise_line,major_cruise_line_x,year_built,class,gross_tonnage,...,lat_start,lon_start,lat_end,lon_end,in_port,stopped_minutes,num_periods,port_city_id,port_city_name,port_city_country
0,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,...,42.3341,3.559350,42.3341,3.55935,False,0,1,ChIJa8cuUJY1sRIRAmYnNvfhb5o,Sete,FR
1,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,...,40.5500,14.266200,40.5498,14.26830,True,395,6,ChIJ6xs_rtF5OxMR6-IlPrQflcc,Capri,IT
2,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,...,36.8446,23.186300,37.5185,23.68120,True,209,10,ChIJsWDUsbV1nxQRwMK54iy9AAQ,Hydra,GR
3,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,...,40.1557,1.374830,40.3417,1.31350,False,29,3,ChIJQzkJhWNHmRIR1iaEzSVHBgk,Ibiza,ES
4,Wind Surf,C6IO6,https://en.wikipedia.org/wiki/Wind_Surf_(ship),NaN,NaN,1990–1998: Club Med1998 onwards: Windstar Cruises,Other,1990.0,NaN,NaN,...,39.4216,0.330832,40.7409,1.66940,True,471,19,ChIJQzkJhWNHmRIR1iaEzSVHBgk,Ibiza,ES

In [20]:
merged.flag[merged.port_city_country=="BR"].value_counts()

BAHAMAS           876
MALTA             870
ITALY             533
NETHERLANDS       333
BERMUDA           171
PANAMA            119
RUSSIA             56
MARSHALL IS        49
VANUATU            22
UNITED KINGDOM     20
FRANCE             11
NORWAY              7
Name: flag, dtype: int64

Média dos tamanhos dos navios, no Brasil e por cidade.

In [66]:
merged[merged.port_city_country=="BR"].groupby("port_city_name").length.mean().reset_index()

       port_city_name      length
0              Manaus  206.903276
1      Rio de Janeiro  243.194697
2  Santos (Sao Paulo)  262.849266

Média da distância viajada até o porto, no Brasil e por cidade.

In [65]:
merged[merged.port_city_country=="BR"].groupby("port_city_name").meters_traveled.mean().reset_index()

       port_city_name  meters_traveled
0              Manaus    156906.918619
1      Rio de Janeiro    171514.454000
2  Santos (Sao Paulo)    252343.076901

Média da capacidade do navio, no Brasil e por cidade.

In [64]:
merged[merged.port_city_country=="BR"].groupby("port_city_name").capacity.mean().reset_index()

       port_city_name     capacity
0              Manaus   901.157143
1      Rio de Janeiro  1874.552147
2  Santos (Sao Paulo)  2362.561728

Média de minutos parado no porto, no Brasil e por cidade.

In [63]:
merged[merged.port_city_country=="BR"].groupby("port_city_name").stopped_minutes.mean().reset_index()

       port_city_name  stopped_minutes
0              Manaus        86.576344
1      Rio de Janeiro       140.791508
2  Santos (Sao Paulo)       199.281681

In [68]:
merged[merged.port_city_country=="BR"].groupby(["major_cruise_line_x","port_city_name"]).stopped_minutes.mean().reset_index().sort_values("stopped_minutes", ascending=False)

              major_cruise_line_x      port_city_name  stopped_minutes
23              Silversea Cruises      Rio de Janeiro      1095.789474
12          Norwegian Cruise Line      Rio de Janeiro       651.739130
3               Celebrity Cruises      Rio de Janeiro       505.000000
13          Norwegian Cruise Line  Santos (Sao Paulo)       300.760000
24              Silversea Cruises  Santos (Sao Paulo)       283.800000
22  Royal Caribbean International  Santos (Sao Paulo)       221.851536
4               Celebrity Cruises  Santos (Sao Paulo)       215.714286
6                  Costa Crociere      Rio de Janeiro       201.561111
7                  Costa Crociere  Santos (Sao Paulo)       197.285714
16                          Other  Santos (Sao Paulo)       192.562500
14                          Other              Manaus       129.682609
15                          Other      Rio de Janeiro       124.463158
19               Princess Cruises  Santos (Sao Paulo)       109.166667
18               Princess Cruises      Rio de Janeiro        99.333333
21  Royal Caribbean International      Rio de Janeiro        87.913534
9            Holland America Line      Rio de Janeiro        58.743590
8            Holland America Line              Manaus        49.624204
17               Princess Cruises              Manaus        44.745763
10           Holland America Line  Santos (Sao Paulo)        34.864865
2            Carnival Cruise Line  Santos (Sao Paulo)         0.000000
5                  Costa Crociere              Manaus         0.000000
20  Royal Caribbean International              Manaus         0.000000
1            Carnival Cruise Line      Rio de Janeiro         0.000000
11          Norwegian Cruise Line              Manaus         0.000000
0            Carnival Cruise Line              Manaus         0.000000